form {
  display        : flex;
  flex-direction : column;
  text-align     : center;
  justify-content: center;
  align-items    : center;
  font-size      : 25px;
  font-weight    : bold;
  margin         : 30px 0;
}

.line {
  display: flex;
}

input,
button {
  margin: 10px 0;
}

.tooDoo {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  text-align      : center;
  width           : 70%;
  margin          : auto;
}

.dooToo {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  width          : 100%;
}